<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="">
<head>
    <meta charset="UTF-8">
    <title>ベストタイム管理アプリケーション</title>
    <!--    <link th:href="@{/home.css}" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--    Jquery-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.0/dist/jquery.min.js"></script>
<!--    Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <!--    home.js読み込み-->
    <script th:src="@{/home.js}"></script>
    <!--home.css読み込み -->
    <link th:href="@{/home.css}" rel="stylesheet">
</head>

<body>
<h1>ベストタイム管理アプリケーション</h1>

<nav>
    <ul>
        <li><a href="/playerlist">選手一覧</a></li>
        <li><a href="/eventlist">競技種目一覧</a></li>
        <li><a href="http://abehiroshi.la.coocan.jp/">AAAA</a></li>
        <li><a href="#">BBBB</a></li>
        <li><a href="#">CCCC</a></li>
    </ul>
</nav>

<form action="/addevent">
<div class="event_form">
    <h2>競技の登録</h2>
    <label class="form-label">競技名</label>
    <input name="eventName" class="form-control" type="text" id="new_eventName" />
    <input type="submit" value="登録"/>
</div>
</form>

<div>
    <h2>競技一覧</h2>

    <form action="/searchevent_inevent">
        <label>競技名検索</label>
        <input type="text" id="searchEventName" name="searchEventName">
        <button type="submit">検索</button>
    </form>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th width="150">ID</th>
            <th>競技名</th>
            <th width="80">更新</th>
            <th width="80">削除</th>
        </tr>
        </thead>
        <tbody id="event_name_body">
        <tr th:each="event : ${event}">
            <td th:text="${event.eventId}"></td>
            <td th:text="${event.eventName}"></td>
            <td>
                <button type="submit" name="update_button" onclick="copyToDialog(this.parentElement.parentElement);" data-bs-toggle="modal" data-bs-target="#eventUpdateDialog" class="btn btn-primary">更新</button>
            </td>
            <td>
                <form action="/deleteevent">
                    <button type="submit" name="delete_button" class="btn btn-secondary">削除</button>
                    <input type="hidden" name="eventId" th:value="${event.eventId}" />
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div id="eventUpdateDialog" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/updateevent">
                <div class="modal-header">
                    <h2>競技の更新</h2>
                </div>
                <div class="modal-body">
                    <input id="update_id" name="eventId" type="hidden"/>
                    <label for="update_name">競技名</label>
                    <input id="update_name" class="form-control" name="eventName" type="text"/>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">更新</button>
                    <button type="reset" data-bs-dismiss="modal" class="btn btn-secondary">キャンセル</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>